<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heymate.reckon">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LaunchLoginActivity"
            android:label="@string/launch_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignInActivity"
            android:label="@string/sign_in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignUpActivity"
            android:label="@string/sign_up"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.DashboardActivity"
            android:label="@string/dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ForgotPasswordActivity"
            android:label="@string/forgot_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConfirmPasswordActivity"
            android:label="@string/cnfrmpassword_hint"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.ProfileActivity" />
        <activity
            android:name=".ui.AddApartmentActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".ui.AddServiceActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="AAAAT8_-Fic:APA91bFV0GlZ4kmJociX55td0O_AbicleF0MHOb55Lp8dd4Fw4UzTihl0FMrfl2Io9GvDenwDdBYxuPg54LZFbB1raizQUpVKGoPgSqCCymqLNhSjCVUlsLsJ8Ug0LG-NlFYEpglJAXf" />
    </application>

</manifest>